*,
::after,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
}
.container {
  background-color: white;
  max-width: 1024px;
  width: 768px;
  height: 400px;
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
}
.content-container {
  background-color: lab(2.17% -0.14 0.38 / 0.904);
  margin: 0 auto;
  display: flex;
  justify-content: start;
  align-items: center;
  height: 385px;
  padding-left: 4rem;
}
.heading {
  background-color: #eb0493;
  width: 300px;
  height: 70px;
  /* font-size: larger; */
  margin: 0 auto;
  border-radius: 5px;
  position: relative;
  margin-top: -25px;
}
.heading h3 {
  text-align: center;
  font-size: x-large;
  font-weight: 800;
  padding-top: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main {
  background-color: #fff;
  width: 350px;
  height: 200px;
  border-radius: 10px;
  position: absolute;
}
.text {
  margin-top: 10px;
  text-align: justify;
  padding: 1rem 2rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.6;
  font-size: small;
  font-weight: 700;
}
